.container {
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
    max-width: 1070px;
    position: relative;
}

.flex-container{
    display: flex;
}

.flex-container .flex-item {
    flex: 1;
}
