.container {
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
    max-width: 1070px;
    position: relative;
}

.placar-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.placar-inner .time {
    width: 24%;
}

.placar-inner .partida {
    width: 50%;
}

.flex-container{
    display: flex;
}

.flex-container .flex-item {
    flex: 1;
}

@media (max-width: 500px) {
    .placar-inner {
        flex-direction: column;
    }

    .placar-inner .time, .placar-inner .partida {
        width: 100%;
    }

}